* {
  box-sizing: border-box;
}

.menu {			/* link bar on the left */
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: #5A79A5 ; /* lighter blue */
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: black;
}

.main {				/* the middle part */
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {			/* bar on the right */
  background-color: #5A79A5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: left;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/* Getting rid of navigation bars when printing */
@media print {
	.menu, a.light {
		display: none;
		}	
	.main, h1 {
		width: 100%;
		color: black;
		background-color: transparent;
		}
	.right {
		display: none;
		}
	}


body	{font-family: Verdana, Arial, sans-serif ; 
	color: #000063 ; /* dark blue text */
	background-color: #DEE7EF ;
	}

#head {
	background-color: #000063 ;
	color: #DEE7EF;
	padding:15px;
	text-align:center;}

div.container {overflow:auto;}

#footer {background-color:#000063;
	color: #DEE7EF;
	text-align:center;
	padding:10px;
	margin-top:7px;}

.italic {font-style: italic; }


/* put the language links to the right */
p.languages {text-align: right;}


a:link {
  color: #000063;
}

/* For the links to the other languages in the header */
a.light{ 
	color: #DEE7EF ;
}

/* visited link */
a:visited {
  color: #000063;
}

a.light:visited { /* visited link for language selection needs to stay light */
	color: #DEE7EF ;
}

/* mouse over link, applies to all links */
a:hover {
  color: #CE0000;
}

ul.sublinks {
  list-style-type: none; /* Remove bullets */
}

.center {
	text-align: center ;
	}
	

figure {
     margin: 0px; /* Removing the default extra margin from <figure> */
	font-style: italic; /* captions italic and smaller */
	font-size: smaller;
}

/* Table with borders, used at least for price list */
table.bordered, th.bordered, td.bordered {
	border: 1px solid #000063 ;
	border-collapse: collapse ;
	padding: 5px ;
	}
	
td.topaligned {
	vertical-align: top ;
	}
	
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
figure.centered {
   text-align: center;
   margin: 10px auto;
}


table.centered {
	margin-left: auto;
	margin-right: auto;
	}
	
table {
	margin-top: 20px ;
	}
	
td {
		padding-top: 5px ;
		padding-bottom: 5px ;
	}
	
/* Dashed grey horizontal rule */
hr.gray {
  border: 2px dashed #9CAAC6;
  margin-top: 10px ;
}

.smaller {
	font-size: smaller ;
	}
	
iframe {
	border: 0px ;
	}
	
	
/* color scheme from <https://www.colorcombos.com/color-schemes/115/ColorCombo115.html>, chosen to match the photo on the front page */